

@font-face {
    font-family: 'magnablack_condensed';
    src: url('../fontes/magna-blackcondensed.woff2') format('woff2'),
         url('../fontes/magna-blackcondensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.mainMenu{
    font-family: 'simplificasimplifica';
    background: #75604d !important;
    border-radius: 0px !important;
}

.fundo {
    background: #F2F2F2;
}

#logo {
    margin-top: 2%;
}

.tituloPag {
    color: #514b4b !important;
}

.espacadorTitulo {
  margin-bottom: 5%;
}

.imageCatalogo {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middleCatalogo {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.containerCatalogo:hover .imageCatalogo {
  opacity: 0.3;
}

.containerCatalogo:hover .middleCatalogo {
  opacity: 1;
}

.textCatalogo {
  background-color: #99c9cc;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.botaoInserir {
  background-color: #c8d45b !important;
}

.botaoArvore {
  color: #686e31;
}

.botaoArvore:hover {
  color: #4a4e23;
}

div.imagemDetalha {
	margin-left: 5% !important;
}

img.imagemDetalha {
	margin: 0%;
}

.botaoEnviar {
  background-color: #99c9cc !important;
}

.imagemUsuario {
	height: 4.5% !important;
}

.espacoColunas {
	margin-top: 5% !important;
}

.divisorDetalha {
	clear: both;
	margin-bottom: 3% !important;
}