body > .grid {
    height: 100%;
  }
  .image {
    margin-top: -100px;
  }
  .column {
    max-width: 450px;
  }

#botaoLoginU{
    background: #75604d !important;
}
#botaoLoginU:hover{
    background: #755a41 !important;
}
#letraLoginU{
    color: #75604d !important;
}
#fundoLoginU{
    background-image: linear-gradient(to right, #99c9cc, #c8d45b);

}
#botaoVoltar{   
    background: #75604d;
    color: #fff;
    margin-top: 1%;
    margin-left: 1%;
}
a{
    color: #39940C;
    
}
a:hover{
    color: #c8d45b;
    text-decoration: none;
}
#corBotao{
    color: #fff;
}
.alinhamento{
    float: left;
    margin-left: 1% !important;
    margin: 1% !important;
    margin-bottom: 3% !important;
}
